{% extends 'base.html' %}
{% load socialaccount %}

{% block content %}


{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}


<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"> Login </button>
    <br>
    <p><strong>-- OR --</strong></p>
    <a href="{% url 'social:begin' 'facebook' %} ">Login with Facebook</a>
</form>
{% endblock %}