<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LEAP Career Forum{% endblock %}</title>
</head>
<body>
    <header>
        LEAP Space
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        Copyright © 2015-2023 LEAP Career Development Platform, All rights reserved.
        LEAP Career Development Forum
        713 West Duarte Road Unit #G266
        Arcadia, CA 91007
    </footer>
</body>
</html>